
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<html>
	<head>
		<title>Activity Tracker App</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="float-grid.css" />
	</head>

	<body>
		<nav class="navBar">
		    <h1>Activity Tracker</h1>
		    
			<ul class="menu">
				  <li class="menuItem"><a href="aboutUs.html" class="linkDecoration">About Us</a></li>
				  <li class="menuItem"><a href="#" class="linkDecoration">Profile</a>
				    <ul class="subMenu">
				      <li class="subMenuItem menuItem"><a href="#" class="linkDecoration">Update Profile</a></li>
				      <li class="subMenuItem menuItem"><a href="#" class="linkDecoration">View Profile</a></li> 
				    </ul>
				  </li>
				  <li class="menuItem"><a href="#" class="linkDecoration">Activity</a>
					  <ul class="subMenu">
					  	 <li class="subMenuItem menuItem"><a href="activity.html" class="linkDecoration">Add Activity</a></li>
					      <li class="subMenuItem menuItem"><a href="#" class="linkDecoration">Update Activity</a></li>
					      <li class="subMenuItem menuItem"><a href="#" class="linkDecoration">Delete Activity</a></li> 
					      <li class="subMenuItem menuItem"><a href="ViewActivity.html" class="linkDecoration">View Activity</a></li>
					    </ul>
					</li>
				
			</ul>
		</nav>

		<section class="info">
			<h1>Features</h1>
			
				<p class="featureList">Since no day is like the other, we prefer a weekly target but we will also show you a daily goal based on your target .</p>				
				<p class="featureList">See your activity by daytime like morning , afternoon  and evening .</p>
				<p class="featureList">Visualize your Daily, Weekly, and Monthly activity .</p>
			
		</section>

		<script src="activity.js" ></script>
	</body>

</html>


 