<h2 class="page-header">About Us</h2> 

  <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
  </script>

    
  <section class="activityList">

    <h1>Features</h1>

        <p class="featureList"> Register if you are a new user.</p>
        <p class="featureList"> Login if you are a registered user.</p>
        <p class="featureList"> User can see his account details.</p>
        <p class="featureList"> As a registered user you can see list of all activities once you login .</p>
        <p class="featureList"> User can add new activities.</p>
        <p class="featureList">Since no day is like the other, we prefer a weekly target but we will also show you a daily goal based on your target .</p>        
        <p class="featureList">See your activity by daytime like morning , afternoon  and evening .</p>
        <p class="featureList">Visualize your Daily, Weekly, and Monthly activity .</p>
        <p class="featureList"> User can strikethrough just to make a note that this activity is done  and undo it as well.</p>
        <p class="featureList"> User can update and delete activities.</p>
      
  </section>

    
 

 