<h2 class="page-header">Profile</h2> 


   
    <section class="activityList">
      <h1>My Info</h1>
      
      <p class="myprofile">Name : {{user.name}}</p>
      <p class="myprofile">Username :{{user.username}}</p>
      <p class="myprofile">Email: {{user.email}}</p>
      
    </section>

    
  



