<h2 class="page-header">Profile</h2> 
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

   
    <section class="activityList">
      <h1>My Info</h1>
      
      <p class="myprofile">Name : {{user.name}}</p>
      <p class="myprofile">Username :{{user.username}}</p>
      <p class="myprofile">Email: {{user.email}}</p>
      
    </section>

    
  



